# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ShootingStarsTest1.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Information Technology\JetBrains Rider Code\ShootingStarsTest1\.idea\.idea.ShootingStarsTest1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
